<ion-header>

  <ion-navbar>
    <ion-title>Login de Usuário</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="Logando" (submit)="Login()">
    <ion-list>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email"
                   [(ngModel)]="usuario.email"
                   formControlName="email"
                   name="email"
                   clearInput clearOnEdit="false" required>
        </ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h6 *ngIf="email.hasError('required') && email.touched || (email.dirty && email.errors)">
              E-mail Inválido</h6>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password"
                   [(ngModel)]="usuario.password"
                   formControlName="password"
                   name="password"
                   clearInput clearOnEdit="false">
        </ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h6 *ngIf="password.hasError('required') && password.touched || (password.dirty && password.errors)"> Senha *</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <button [disabled]="Logando.invalid" ion-button color="stable" block>
      Entrar
    </button>
  </form>

  <a (click)="EsqueceuSenha()" >Esqueceu a Senha ?</a>

  <button  ion-button (click)="IrCadastro()" color="stable" block>
    Cadastrar-se
  </button>


</ion-content>

