
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro de veículo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="Cadastro_veiculo" (submit)="Cadastrar()">
      <ion-list>
      
        <ion-item> 
          <ion-label floating>Placa</ion-label>
          <ion-input type="text"
                      [(ngModel)]="veiculo.placa"
                      formControlName="placa"
                      name="placa"
                      [brmasker]="{mask:'000-0000', len:8}"
                      clearInput clearOnEdit="false">
          </ion-input> 
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h6 *ngIf="placa.hasError('required') &&  placa.touched || (placa.dirty && placa.errors) "> Informe a placa no formato (JJJ-9999) </h6>
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-item> 
            <ion-label floating>Marca</ion-label>
            <ion-input type="text"
                        [(ngModel)]="veiculo.marca"
                        formControlName="marca"
                        name="marca"
                        clearInput clearOnEdit="false">
            </ion-input> 
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <h6 *ngIf="marca.hasError('required') &&  marca.touched || (marca.dirty && marca.errors) "> Informe a marca do veículo </h6>
              </ion-col>
            </ion-row>
          </ion-grid>



      </ion-list>

      <button [disabled]="Cadastro_veiculo.invalid" ion-button color="stable" block>
          Cadastrar-se
      </button>

    </form>

</ion-content>
