<ion-header>

    <ion-navbar>
        <ion-title>{{ dado.nome }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <h1 *ngIf="dado.nome"><strong>{{ dado.nome}}</strong></h1> <br>
                        <p *ngIf="dado.endereco">{{ dado.endereco}}</p> <br>
                        <span *ngIf="dado.telefone">{{ dado.telefone}}</span> <br>
                        <span *ngIf="dado.complemento">{{ dado.complemento}}</span> <br>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>
