
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro de Escola</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

      <form [formGroup]="form" (ngSubmit)="postDados()">
            <ion-list>

                  <ion-item> 
                        <ion-label floating>Nome (obrigatório)</ion-label>
                        <ion-input type="text" name="nome" formControlName="nome"></ion-input>
                  </ion-item>
                  <ion-grid>
                        <ion-row class="aviso-erro">
                              <ion-col col-12>
                              <h6 *ngIf="form.controls['nome'].errors?.required &&  form.controls['nome'].touched "> Faltou inserir a Escola. </h6>
                              </ion-col>
                        </ion-row>
                  </ion-grid>
                  
                 
                  <ion-item>
                        <ion-label floating>Endereço (obrigatório)</ion-label>
                        <ion-input type="text" name="endereco" formControlName="endereco"></ion-input>
                  </ion-item>
                  <ion-grid>
                        <ion-row class="aviso-erro">
                              <ion-col col-12>
                              <h6 *ngIf="form.controls['endereco'].errors?.required &&  form.controls['endereco'].touched "> Faltou inserir o endereço. </h6>
                              </ion-col>
                        </ion-row>
                  </ion-grid>

                  <ion-item>
                        <ion-label floating>Complemento</ion-label>
                        <ion-input type="text" name="complemento" formControlName="complemento"></ion-input>
                  </ion-item>

                  <ion-item>
                        <ion-label floating>Telefone</ion-label>
                        <ion-input type="text" name="telefone" formControlName="telefone" [brmasker]="{phone: true}"></ion-input>
                  </ion-item>
                 
                  <ion-item>
                        <input hidden [disabled]  name="id_usuario" ngModel="{{id_usuario}}" formControlName="id_usuario">
                        <button [disabled]="form.invalid" ion-button full block color="danger">Enviar</button>
                  </ion-item>
            </ion-list>

      </form>




      <p>{{ form.value | json }}</p>

</ion-content>
