<ion-header>

    <ion-navbar>
        <ion-title>Esqueci minha senha</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="Recupera" (submit)="Recupera_senha()">
        <ion-list>

            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email"
                           [(ngModel)]="usuario.email"
                           formControlName="email"
                           name="email"
                           clearInput clearOnEdit="false" required>
                </ion-input>
            </ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col col-12 >
                        <h6 ion-text side="10"  color="danger"  *ngIf="email.hasError('required') && email.touched || (email.dirty && email.errors)">
                            E-mail Inválido</h6>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>

        <button [disabled]="Recupera.invalid" ion-button color="stable" block>
            Enviar
        </button>


    </form>


</ion-content>

