
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!search">Responsavel</ion-title>
    <ion-searchbar showCancelButton="true"
                   autocomplete="on"
                   #searchbar
                   [hidden]="!search"
                   placeholder="Pesquisa"
                   (ionInput)="FiltarItems($event)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab right bottom (click)="toggleSearch()">
    <button ion-fab class="pop-in">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-fab>

  <ion-list *ngFor="let dado of dados" >
    <ion-item-sliding>
      <button  *ngIf="dado.nome" ion-item  (click)="detalhe(dado)">
        <ion-icon name="people"></ion-icon>
        {{ dado.nome }}
      </button>>


      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deletar(dado)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="editar(dado)">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
