<ion-header>

  <ion-navbar>
    <ion-title>Cadastro de Usuário</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="Cadastro" (submit)="Cadastrar()">
    <ion-list>

      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text"
                   [(ngModel)]="usuario.nome"
                   formControlName="nome"
                   name="nome"
                   clearInput clearOnEdit="false">
        </ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h6 *ngIf="nome.hasError('required') &&  nome.touched "> nome * </h6>
          </ion-col>
        </ion-row>
      </ion-grid>



      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email"
                   [(ngModel)]="usuario.email"
                   formControlName="email"
                   name="email"
                   clearInput clearOnEdit="false" required>
        </ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h6 *ngIf="email.hasError('required') && email.touched || (email.dirty && email.errors)">
              E-mail Inválido</h6>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input type="text"
                   [(ngModel)]="usuario.telefone"
                   formControlName="telefone"
                   name="telefone"
                   [brmasker]="{phone: true}"
                   clearInput clearOnEdit="false">
        </ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h6 *ngIf="telefone.hasError('required') && telefone.touched || (telefone.dirty && telefone.errors)"> Contato *</h6>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password"
                   [(ngModel)]="usuario.password"
                   formControlName="password"
                   name="password"
                   clearInput clearOnEdit="false">
        </ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h6 *ngIf="password.hasError('required') && password.touched || (password.dirty && password.errors)"> Minímo 3 Caracteres *</h6>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-list>
    <button [disabled]="Cadastro.invalid" ion-button color="stable" block>
      Cadastrar-se
    </button>
  </form>




</ion-content>

