
<ion-header>

  <ion-navbar>
    <ion-title>Meus Dados</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form >
    <ion-list *ngFor='let usuario of usuarios'>


      <ion-grid >
        <ion-row>
          <ion-col col-12>
            <h6 > Cod : {{usuario.id}}</h6>
          </ion-col>
          <ion-col col-12>
            <h6 > Nome : {{usuario.nome}}</h6>
          </ion-col>

          <ion-col col-12>
            <h6 > Email: {{usuario.email}}</h6>
          </ion-col>

          <ion-col col-12>
            <h6 > Telefone :{{usuario.telefone}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-list>
    <button (click)="alterar_usuario(usuario)" ion-button color="stable" block>
      Atualizar
    </button>
  </form>
</ion-content>

