<ion-header>

    <ion-navbar>
        <ion-title>Cadastro de Alunos</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="form" >
        <ion-list>

            <ion-item>
                <ion-label floating>Nome</ion-label>
                <ion-input type="text" name="nome" formControlName="nome"></ion-input>
            </ion-item>
            <ion-grid>
                <ion-row class="aviso-erro">
                    <ion-col col-12>
                        <h6 *ngIf="form.controls['nome'].errors?.required &&  form.controls['nome'].touched "> Nome
                            obrigatório. </h6>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-item>
                <ion-label floating >Sexo</ion-label>
                <ion-select   name="sexo" formControlName="sexo" interface="action-sheet" cancelText="Sair" okText="Ok!">
                    <ion-option value="M" >Maisculíno</ion-option>
                    <ion-option value="F" >Feminino</ion-option>
                </ion-select>
            </ion-item>
            <ion-grid>
                <ion-row class="aviso-erro">
                    <ion-col col-12>
                        <h6 *ngIf="form.controls['sexo'].errors?.required &&  form.controls['sexo'].touched "> * Turno. </h6>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <ion-item>
                <ion-label floating>Sala</ion-label>
                <ion-input type="text" name="sala" formControlName="sala"></ion-input>
            </ion-item>
            <ion-grid>
                <ion-row class="aviso-erro">
                    <ion-col col-12>
                        <h6 *ngIf="form.controls['sala'].errors?.required &&  form.controls['sala'].touched "> Faltou
                            inserir a sala. </h6>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-item>
                <ion-label floating >Turno</ion-label>
                <ion-select   name="turno" formControlName="turno" interface="popover" cancelText="Sair" okText="Ok!">
                    <ion-option value="MA" >Matutino</ion-option>
                    <ion-option value="VE" >Vespetino</ion-option>
                    <ion-option value="NO" >Noturno</ion-option>
                    <ion-option value="IN" >Intergral</ion-option>
                </ion-select>
            </ion-item>
            <ion-grid>
                <ion-row class="aviso-erro">
                    <ion-col col-12>
                        <h6 *ngIf="form.controls['turno'].errors?.required &&  form.controls['turno'].touched "> * Turno. </h6>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <!-- [shouldStoreItemValue]="true" PEGA SOME ID DO ARRAY-->
            <ion-item>
                <ion-label floating>Responsável</ion-label>
                <select-searchable
                        formControlName='id_responsavel'
                        item-content
                        [items]="dados"
                        [shouldStoreItemValue]="true"
                        [focusSearchbar]="true"
                        itemValueField="id"
                        itemTextField="nome"
                        [canSearch]="true"
                        [hasInfiniteScroll]="true"
                        (onChange)="portChange($event)">

                </select-searchable>
            </ion-item>



            <ion-grid>
                <ion-row class="aviso-erro">
                    <ion-col col-12>
                        <h6 *ngIf="form.controls['id_responsavel'].errors?.required &&  form.controls['id_responsavel'].touched ">
                            * Responsavél.
                        </h6>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-item>
                <ion-label floating>Escola</ion-label>
                <select-searchable
                        formControlName='id_escola'
                        item-content
                        [(ngModel)]="dadosSelectEscolar"
                        [items]="dadosEscolar"
                        [shouldStoreItemValue]="true"
                        [focusSearchbar]="true"
                        itemValueField="id"
                        itemTextField="nome"
                        [canSearch]="true"
                        (onChange)="portChange($event)">
                </select-searchable>
            </ion-item>

            <ion-grid>
                <ion-row class="aviso-erro">
                    <ion-col col-12>
                        <h6 *ngIf="form.controls['id_escola'].errors?.required &&  form.controls['id_escola'].touched ">
                            * Escolar.
                        </h6>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <ion-item>
                <button [disabled]="form.invalid" ion-button full block color="danger" (click)="postDados()">Cadastra</button>
            </ion-item>
        </ion-list>

    </form>


    <p>{{ form.value | json }}</p>

</ion-content>
